body {
  margin: 0px;
  font-family: Montserrat;
  background-color: black;
}

.navbar {
  width: 100%;
  padding: 1.5rem;
  background-color: black;
  position: fixed;
  text-align: center;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 700;
  z-index: 8;

  .nav_container {
    display: inline-block;
  }

  #home {
    padding-right: 15%;
  }
  #menu {
    display: none;
  }
  .expand{
    display: none;
    background-color: #F7819F;
    border: none;
    float: right;
    color: white;
  }

  @media (max-width: 800px) {
    .nav_container {
      display: block;
      text-align: left;
      #home {
        text-align: left;
        display: inline-block;
      }
      .expand {
        display: inline-block;
        font-size: 1rem;
        border-radius: 0.1rem;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
    #menu:checked + #others {
      display: block;
    }

    #menu:not(checked) + #others {
      display: none;
    }

    #button1, #button2, #button3{
      font-size: 1rem;
      display: block;
    }
    #welcome {
      text-align: left;
    }
  }

  .navbar_button {
    cursor: pointer;
    border-radius: 0.1rem;
    margin-right: 2.5rem;
    padding-top:: 0.31rem;
    padding-bottom: 0.31rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
  }

  .navbar_button:hover {
    color: #F8E0F1;
  }
}


header {
  position: relative;
  background-color: white;
  padding-top: 3rem;
  img {
    width: 100%;
  }
  .carousel {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    display: none;

    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    padding: 1rem;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}


section {
  background-color: white;
  display: block;
  text-align: center;
  .section_img_container {
    column-count: 3;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 14%;
    padding-right: 14%;
    column-gap: 0rem;

    .modal {
      width: 100%;
      cursor: pointer;
      display: block;
      .small_img {
        padding: 4%;
        width: 88%;
      }
      .small_img:hover {
        opacity: 0.7;
      }
    }

  }

  .video_container {
    background-color: #F8E0F1;
    z-index: 0;
  }

  .fixed_background {
    background  : url("assets/fixed.jpg");
    repeat: no-repeat;
    height: 500px;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    #fixed_text {
      padding-right: 100px;
      margin-right: -100px;
      overflow-y: scroll;
      height: 500px;
    }
  }

  .bigger {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1rem;
  }

  p {
    color: white;
    font-size: 1.37rem;
  }
}


.modal_content {
  z-index: 10;
  position: fixed;
  display: none;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;

  #special {
    width: 50%;
    padding: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    img {
      margin: auto;
      width: 93%;
      padding: 2%;
    }
  }

  .content_container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    border: 1.1px solid #888;
    background: white;
    padding: 1%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;

    .close_button {
      cursor: pointer;
      width: 20%;
      border-radius: 0.6rem;
      padding-top: 1.5%;
      padding-bottom: 1.5%;
      padding-left: 5%;
      padding-right: 5%;
      background: #F7819F;
      color: white;
      font-weight: 550;
    }

    .close {
      line-height: 0rem;
      color: #aaaaaa;
      float: right;
      font-size: 1rem;
      font-weight: bold;
    }

    img {
      margin: auto;
      width: 90%;
      padding: 4%;
    }
  }
  @media (max-width: 800px) {
    .content_container {
        width: 75%;
        padding: 3%;
    }
  }
}


video {
  width: 70%;
  display: block;
  margin: auto;
  padding: 3.5%;
}


audio {
  display: none;
}


footer {
  padding-top: 20px;
  height: 200px;
  background-color: black;
  text-align: center;
  .footer_container {
    display: block;
    margin: auto;
    color: white;
    font-family: Montserrat;
    h1 {
      font-weight: 510;
      font-size: 25px;
    }
    p {
      font-weight: 300;
      font-size: 18px;
    }
  }
}


.social_icon {
  cursor: pointer;
  margin: 0.3rem;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 3rem;
  font-size: 25px;
  background: black;
  color: white;
}


.social_icon:hover {
  background: white;
  color: black;
}
